APP_NAME="NeuroScan AI API"
APP_VERSION="1.0.0"
DEBUG="false"
LOG_LEVEL="INFO"
GROQ_API_KEY="your_groq_api_key_here"
MODEL_DIR="./models"
EFFICIENTNET_MODEL_PATH="./models/class_Tumor_v2s_clean.keras"
MOBILENET_MODEL_PATH="./models/class_Tumor_mobilenet_v3.keras"
CONVNEXT_MODEL_PATH="./models/class_Tumor_convnext_tiny_tumor.keras"
SEGMENTATION_MODEL_PATH="./models/Segmentation_brisc_effunet.keras"
